/* Style sheet for home page */
/* global */
/* colors:
    #FFFFFF; White
    #222222; Dark Grey 
    #333333; Light Grey
    #42069F; Dark Purple
    #6F2CD3; Mid Purple
    #B191E2; Light Purple
*/

html {
font-family:sans-serif;
background: #000000;
color: #000000;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}


/* MAIN MENU*/
.globalNavMenuBar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 1%;
    background: #000000;
    color: #ffffff;
    font-family: sans-serif;
    position: sticky;
    z-index: 10;
    width: 100%;
}

.globalNavMenuBar a:hover {
    color: #6f2cd3 /* mid purple */
}

.globalNavMenuBar img {
    height: 4em;
    width: 12em;
    order: 1;
    margin: auto 0;
}

#followingLink {
    order: 2;
    margin: auto 0;
}

#browseLink {
    order: 3;
    margin: auto 0;
}

#searchBar {
    order: 4;
    margin: auto 0;
}

.globalNavMenuBar input[type=text] {
    background: #000000;
    color: #FFFFFF;
}

/* SIDEBAR*/
.sideNav {
    background: #000000;
    height: 100%; 
    width: 5%; 
    position: fixed; 
    z-index: 2; 
    top: 0; 
    left: 0;
    padding-top: 10%;
    z-index: 8;
}

.sideNav img {
    margin-left: 1rem;
    width: 2.5rem;
    padding-top: .5rem;
    border-radius: 100%;
}

/* Main Page */

.mainPageGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 62vh auto auto auto;
    grid-gap: 15px;
    padding: 10px;
    padding-left: 5.5%;
}

/* Hero Card */
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	overflow: hidden;
}

label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 90vw;
	height: 60vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
    
}

form {
	position: absolute;
    height: 70vh;
	top: 4em;
	left: 6em;
	bottom: 0;
	right: 0;
	white-space: nowrap;
    overflow: hidden;
}
input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 7rem;
	left: 0;
	right: 1.5rem;
	padding: 1rem;
	color: #db1515;
	text-align: right;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background: #000000;
	background-size: 700px;
	font-size: 3rem;
}

label img{
    height: 30vw;
}

label:before,
label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
/*End of hero card*/


#liveChannelsVideosAcross {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    padding: 3rem;
    background: #B191E2 /* light purple*/
}

#categoriesPortraitCards {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    padding: 3rem;
    background: #B191E2 /* light purple*/
}

#trendingLiveChannels {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    padding: 3rem;
    background: #B191E2 /* light purple*/
}