/* Style sheet for channel profile pages */
/* global */
/* colors:
    #FFFFFF; White
    #222222; Dark Grey 
    #333333; Light Grey
    #42069F; Dark Purple
    #6F2CD3; Mid Purple
    #B191E2; Light Purple
*/

html {
    font-family: sans-serif;
    background: #222222;
    color: #000000;
}

head {

}

body {
    margin: 0;
}

img {
    border-radius: 100%;
    margin: auto auto;
}

.globalNavMenuBar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 1%;
    background-color: #000000;
    color: #ffffff;
}

.globalNavMenuBar a:hover {
    color: #6f2cd3 /* mid purple */
}

h1 {
    order: 1;
    margin: auto auto;
    color: #6f2cd3 /* mid purple */
}

#followingLink {
    order: 2;
    margin: auto 0;
}

#browseLink {
    order: 3;
    margin: auto 0;
}

#searchBar {
    order: 4;
    margin: auto 0;
}

.globalNavMenuBar input[type=text] {
    background: #000000;
    color: #FFFFFF;
}

.sideNav {
    background: #000000;
    height: 100%; 
    width: 5%; 
    position: fixed; 
    z-index: 2; 
    top: 0; 
    left: 0;
    padding-top: 5%;
}

.sideNav img {
    margin-left: 1rem;
    width: 2.5rem;
    padding-top: .5rem;
    border-radius: 100%;
}

/* Channel Profile Page */

.profileTop {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 10px;
    padding-left: 8%;
}

#statusBox {
    grid-column: 1;
    grid-row: 1;
    padding: 3rem;
    display:block;
    background: #B191E2 /* light purple*/
}

#embeddedVideo {
    grid-column: 2;
    grid-row: 1;
    padding: 3rem;
    display:block;
    background: #B191E2 /* light purple*/
}

/*CHANNEL HEADER*/
.channelName {
    margin-left: 8%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    background-color: #222222;
    width:80%;
}

#icon{
    margin: auto auto;
    order: 1;
}

.channelName img{
    border-radius: 100%;
    width: 6rem;
    margin: auto auto;
}

#username, #followers{
    font-size: 18pt;
    font-weight: bold;
    margin: 0;
    padding-top: 1rem;
    order: 2;
}


.channelTabs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 5px;
    padding-left: 8%;
}

#channelHomeTab {
    grid-column: 1;
    grid-row: 1;
    padding: 3rem;
    display:block;
    background: #B191E2 /* light purple*/
}

#channelAboutTab {
    grid-column: 2;
    grid-row: 1;
    padding: 3rem;
    display:block;
    background: #B191E2 /* light purple*/
}

#channelScheduleTab {
    grid-column: 3;
    grid-row: 1;
    padding: 3rem;
    display:block;
    background: #B191E2 /* light purple*/
}

#channelVideosTab {
    grid-column: 4;
    grid-row: 1;
    padding: 3rem;
    display:block;
    background: #B191E2 /* light purple*/
}

.recentBroadcasts {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 5px;
    margin: 2rem;
    margin-left: 8%;
    background: #B191E2 /* light purple*/
}

.recentlyStreamedCategories {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 5px;
    margin: 2rem;
    margin-left: 8%;
    background: #B191E2 /* light purple*/
}

.channelSuggestedStreamers {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 5px;
    margin: 2rem;
    margin-left: 8%;
    background: #B191E2 /* light purple*/
}
